.con {
    height: 350px;
    width: 100%;
    margin: auto;
    background-color: ;
    padding: ;
    border: 1px normal black;
    box-shadow: 1px 2px 3px 1px rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 7px;
}
.imgs {
    background-color: black;
    width: 40px;
    height: 40px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 20px;
    margin: ;
}

.preinfo {
    height: 50px;
    width: 100%;
    background-color:;
}

.con2 {
    height: 220px;
    width: 100%;
    margin: ;
    background-color: ;
}

.info span {
    font-size: 20px;
}

.infoC {
    padding: ;
    text-align: ;
    font-size: 15px;
}