* {
    
    padding:0px;
    border: ;
    margin: 0px;
    overflow: ;

}

a {
    color: teal;
}

ul {
    list-style: none;
}

/*.container {
    
    margin-top: 20%;
    background-color: ;
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}*/


.headerCon {
    
    height: 14%;
    width: 100%;
    overflow: hidden;
    z-index: ;
    background-color: goldenrod;
    top: 0px;
    
}

.header {
    
    position: fixed;
    height: 7%;
    width: 100%;
    color: cadetblue;
    background-color: white;
    
    
}

.header a {
    
     float: left;
    text-align: ;
    width: 30.3%;
    padding: 10px 0;
    color: cadetblue;
    font-size: 20px;
    
}

.header .a-left {
    
    text-align: left ;
    margin-left: 4%;
    
}

.header .center-text {
    
    text-align: center ;
    
}
.header .a-right {
    
    text-align: right ;
    margin-left:auto;
    
}

.scrollmenu {
    
    background-color: white;
    color: cadetblue;
    overflow-y: inherit;
    white-space: nowrap;
    position: fixed;
    margin-top: 13%;
    height: 7%;
    width: 100%;
} 

.scrollmenu a {
    
    display: inline-block;
    color: cadetblue;
    text-align: ;
    padding: 14px;
    text-decoration: none;
    
}

.aid {
    position: fixed;
    width: 100%;
    height: 7%;
    margin-bottom: 50px;
    bottom: 0px;
     background-color: transparent;
    
}

.aid a {
    margin-left: 46%;
}

.footer {
    
    position: fixed;
   /* width: 100%;
    height: 7%;
     overflow: auto;*/
    color: cadetblue;
    background-color: white;
    bottom: 0px;
    z-index: ;
    
}
   

.footer a {
    
    float: left;
    text-align: center;
    width: 20%;
    padding: 10px 0;
    color: cadetblue;
    font-size: 20px;
    
    
    
}

.tab-content {
    display: none;
    background: white;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}