.bar-color {
   /* background-color:#455869;
   background-color:rgb(69, 88, 105);*/
    background-color:#032e46;
    /*background-color:#953163;
    /background-color:#732C1F;*/
}

.toolbar-color {
    background-color:#D2D7D3;
    /*background-color:#E7E7E7;*/
}

#a {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*color:#732C1F;
    background-color:#E7E7E7;*/
}

#b {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#c {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#d {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#e {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#f {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size:11px;
    /*background-color:#E7E7E7;*/
}

#g {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#h {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#i {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#j {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#k {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

#l {
    color:#BD3C4E;
    font-family: times new roman;
    font-style: oblique;
    font-size: 11px;
    /*background-color:#E7E7E7;*/
}

.button-color {
    background-color: #BD3C4E;
    font-family: times new roman;
    font-style: oblique;
}