* {
    overflow: ;
    color: white;
}

input{
    
   border-bottom: 1px solid;
    border-bottom-color: white;
    
}input:focus{
    
   border-bottom: 1px solid;
    border-bottom-color: white;
    
}

a:link{
    
   color: white;
    text-decoration: none;
    
}a:active {
    
   color: white;
    text-decoration: none;
    
}a:visited{
    
   color: white;
    text-decoration: none;
    
}

.logo{
    
   position: static;
    width: 100%;
    height: 23%;
    color: white;
    background-color:;
    z-index: ;
}

.logo2 {
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: ;
    text-align: center;
    padding: 12%;
}

.form{
    
    width: 100%;
    height: 55%;
    color: cadetblue;
    margin-bottom:10%;
    z-index: ;
    background-color:;
}

.form2 {
    width: 90%;
    height: auto;
    background-color: ;
    margin: auto;
    padding: 2%;
}
.signup{
    
   position: fixed;
    width: 100%;
    height: 5% ;
    color: white;
    background-color: ;
    z-index: ;
    bottom: 0px;
    text-align: center;
}