<?xml version="1.0" encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="io.gothere.app" version="1.0.0">
  <name>gothere</name>
  <description>Never get bored!!! Find all kind of events here</description>
  <author href="http://www.gothere.io" email="support@gothere.io">Gothere Team</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
    <preference name="SplashScreen" value="splash" />
<preference name="SplashScreenDelay" value="6000" />
<preference name="ShowSplashScreenSpinner" value="false" />
    
    <plugin name="cordova-plugin-splashscreen" spec="4.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
    <plugin name="cordova-plugin-camera" spec="2.4.1"  />
    <plugin name="cordova-plugin-file-transfer"  spec="1.6.3"   />
   <plugin name="cordova-plugin-globalization" spec="1.0.7" />
<plugin name="cordova-plugin-inappbrowser" spec="1.7.1" />
<plugin name="cordova-plugin-network-information" spec="1.3.3" />
    <plugin name="cordova-plugin-dialogs" spec="1.3.3" />




   <!-- <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>-->
    
  <icon src="icon.png"/>
  <splash src="splash.png"/>
  <platform name="android">
    <icon src="res/icon/android/gothere-appicon-hdpi.png" density="ldpi"/>
    <icon src="res/icon/android/gothere-appicon-mdpi.png" density="mdpi"/>
    <icon src="res/icon/android/gothere-appicon-hdpi.png" density="hdpi"/>
    <icon src="res/icon/android/gothere-appicon-xhdpi.png" density="xhdpi"/>
    <icon src="res/icon/android/gothere-appicon-xxhdpi.png" density="xxhdpi"/>
    <icon src="res/icon/android/gothere-appicon-xxxhdpi.png" density="xxxhdpi"/>
    <splash src="res/screen/android/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="res/screen/android/gothere-background-mdpi.png" density="port-mdpi"/>
    <splash src="res/screen/android/gothere-background-hdpi.png" density="port-hdpi"/>
    <splash src="res/screen/android/gothere-background-xhdpi.png" density="port-xhdpi"/>
    <splash src="res/screen/android/gothere-background-xxhdpi.png" density="port-xxhdpi"/>
    <splash src="res/screen/android/gothere-background-xxxhdpi.png" density="port-xxxhdpi"/>
  </platform>
  <access origin="http://gothere.000webhostapp.com" subdomain="true"/>
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <allow-navigation href="*" />
<allow-intent href="*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
</widget>